#ds-thread 
  #ds-reset
    div.ds-comments-info
      div.ds-sort
        a.ds-current
          background: #38b7ea
          color: #fff
          text-decoration: none
          text-shadow: 0 1px #169cd2
          padding: 3px 5px
          border-radius: 5px
      ul.ds-comments-tabs
        li.ds-tab
          a.ds-comments-tab-duoshuo.ds-current
            background: #f5f8f9
            color: #999
            text-shadow: 0 1px #fff
            text-decoration: none
            border: none
            &:hover
              background: #38b7ea
              color: #fff
              text-decoration: none
              text-shadow: 0 1px #169cd2
    div.ds-replybox
      div.ds-textarea-wrapper.ds-rounded-top
        background: none
        textarea
          font-family: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif
      div.ds-post-toolbar
        button.ds-post-button
          background-image: none
          background-color: #f5f8f9
          font-size: 15px
          font-family: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif
          &:hover
            background-color: #38b7ea
            color: #fff
            border: 1px solid #38b7ea
            text-shadow: 0 1px #169cd2
      div.ds-post-options.ds-gradient-bg
        background: none
